<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="components/reveal.js/css/reveal.css">
	<link rel="stylesheet" type="text/css" href="components/reveal.js/css/theme/league.css" id="theme">
	<link rel="stylesheet" type="text/css" href="components/reveal.js/lib/css/zenburn.css">
</head>
<body>
	
	<div class="reveal">
		<div class="slides"></div>
	</div>

	<script type="text/javascript" src="components/reveal.js/lib/js/head.min.js"></script>
	<script type="text/javascript" src="components/reveal.js/js/reveal.js"></script>
	<script type="text/javascript" src="components/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/audience.js"></script>
</body>
</html>