<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="components/reveal.js/css/reveal.css">
	<link rel="stylesheet" type="text/css" href="components/reveal.js/css/theme/black.css" id="theme">
	<link rel="stylesheet" type="text/css" href="components/reveal.js/lib/css/zenburn.css">
</head>
<body>
	
	<div class="reveal">
		<div class="slides">
			<section>
				<h1>Welcome</h1>
			</section>
			<section>
				<h1>Who am i ?</h1>
				<p class="fragment fade-in">A Software engineer</p>
			</section>
			<section>
			<h2>Contoh code</h2>
				<pre><code>var http = require('http');

function testing(){
	console.log('hello world');
}

http.listen(8000);</code></pre>
			</section>
		</div>
	</div>


	<script type="text/javascript" src="components/reveal.js/lib/js/head.min.js"></script>
	<script type="text/javascript" src="components/reveal.js/js/reveal.js"></script>
	<script type="text/javascript" src="components/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/presenter.js"></script>
</body>
</html>